@model IEnumerable<WebApplication3.Models.CompanyName>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>


    @Html.ActionLink("Create New", "Create")

   @using (Html.BeginForm())
    {
    <p>
        Exchange: @Html.DropDownList("ExchangeCode", "All")
        Type of Company: @Html.DropDownList("CompanyTypeID", "All")
        Enter Search: @Html.TextBox("SearchString") <br />
        <input class="btn btn-default" type="submit" value="Filter" />
    </p>
    }
    
</p>
<table class="table table-striped table-hover ">
    <tr>
        @*<th>
            @Html.DisplayNameFor("CompanyName1")
        </th>*@
      <th>
          @Html.DisplayNameFor(model => model.ShortCode)
       </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessSectorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exchange.ExchangeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyType.CompanyTypeDesc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessSectorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exchange.ExchangeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyType.CompanyTypeDesc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompanyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CompanyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompanyID })
        </td>
    </tr>
}

</table>
